.fondonegro{
    background: #000;
    height: 87px;
}
header{
    background: #000;
    height: 87px;
    position: fixed;
    z-index: 10000;
    width:1280px;
    max-width: 100%;
    @include flexbox();
    a.logo{
        height: 100%;
        width: 87px;
        display: inline-block;
        background: url(../img/logo.svg) no-repeat center center / 44px auto;
        margin-left: 2.5rem;
    }
    nav{
        @include flex(1);
        .menumovil{
            background: url(../img/hamburguesa.svg) no-repeat;
            background-size: auto 100%;
            background-position: right 2.5rem center;
            height: 87px;
            display: none;
        }
        ul{
            @include ul_limpio();
            @include flexbox();
            @include justify-content(space-evenly);
            a{
                height: 87px;
                line-height: 87px;
                width: 100%;
                display: block;
                font-size: 1.625rem;
                color: #fff;
                &:hover, &:active{
                    color: $gris_claro;
                }
            }
        }
        @media only screen and (max-width:900px){
            position: relative;
            cursor: pointer;
            .menumovil{
                display: block;
            }
            ul{
                position: absolute;
                top: 86px;
                right: 0;
                background: #000;
                display: none;
                padding: 20px 0;
                a{
                    height: 50px;
                    line-height: 50px;
                    text-align: center;
                    width: 50vw;
                    font-size: 2rem;
                }

                &.activo{
                    display: block;
                }
            }
        }
    }
}
@keyframes mostrar {
    0% {
        opacity: 0;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    }
    100% {
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    }
  }

.s1{
    background: url(../img/s1.jpg) no-repeat center center / auto 100%;
    height: 700px;
    @include flexbox();
    @include align-items(center);
    div{
        width: 100%;
        text-align: center;
        h2{
            font-size: 5.125rem;
            color: #fff;

        }
        opacity: 0;
	    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
        -webkit-animation: 2s ease-out 0s 1 mostrar;
        animation: 2s ease-out 0s 1 mostrar;
        -webkit-animation-fill-mode: forwards;
    }
    @media only screen and (max-width:900px){
        height: 495px;
        div h2{
            font-size: 3.5rem;
        }
    }
}
.s2{
    background: url(../img/s2.jpg) no-repeat center center;
    height: 700px;
    @include flexbox();
    @include align-items(center);
    div{
        width: 100%;
        text-align: center;
        img{
            width: 327px;
            height: auto;
        }
        p{
            font-size: 1.75rem;
            color: #fff;
            font-weight: 300;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
        }
    }
}
.s3{
    background:url(../img/s3.jpg) no-repeat center 0;
    height: 360px;
}
// ------------------------------------------------------------------------------
div.bloques{
    width: 50%;
    img{width: 100%;}
    &:first-child div{
        padding: 4rem 4rem 2rem 5rem;
        p{
            font-size: 1.25rem;
            @media only screen and (max-width:700px){
                font-size: 1.7rem;
            }
        }
    }
    &:last-child img{
        visibility: visible;
        opacity: 1;
        -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=1)";
        transition: visibility 0s, opacity 1s linear;
        &.oculto{
            visibility: hidden;
            opacity: 0;
            -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
            
        }

    }
}
.s4{
    .bs4_1{
        h2{
            color: $marron;
            font-size: 2.875rem;
            line-height: 2.875rem;
        }
        h3{
            color: $marron;
            font-size: 1.8125rem;
            margin-top: 3.5rem;
            margin-bottom: 2rem;
            font-family: $Roboto;
        }
    }
}

.s5{
    background: url(../img/s5.jpg) no-repeat center center;
    height: 700px;
    @include flexbox();
    @include align-items(center);
    div{
        width: 100%;
        text-align: center;
        h2{
            font-size: 4rem;
            color: #fff;
            line-height: 4.875rem;
            @media only screen and (max-width:1120px){
                font-size: 3.2rem;
                line-height: 3.9rem;
            }
            @media only screen and (max-width:900px){
                font-size: 2.4rem;
                line-height: 2.925rem;
            }
        }
    }
}

.s6{
    .bs6_1{
        h2{
            color: $marron;
            font-size: 3.625rem;
            line-height: 4.375rem;
        }
        h3{
            color: $marron;
            font-size: 1.8125rem;
            margin-top: 3rem;
            font-family: $Roboto;
        }
        h4{
            color: $marron;
            font-size: 1.1875rem;
            font-weight: bold;
            margin-top: 2.5rem;
            margin-bottom: 0.4rem;
        }
        .m1{width: 378px;}
        .m2{width: 276px;}
    }
}
.s8{
    .bs8_1{
        h2{
            color: $marron;
            font-size: 2.875rem;
            line-height: 2.9375rem;
        }
        h3{
            color: $marron;
            font-size: 1.8125rem;
            margin-top: 3rem;
            font-family: $Roboto;
        }
        p.conlinea{
            font-weight: normal;
            &::before{
                content: '';
                width: 48px;
                height: 2px;
                background: $marron;
                display: block;
                margin-bottom: 10px;
            }
        }
    }
}

.s10{
    .bs10_1{
        h2{
            color: $marron;
            font-size: 2.875rem;
            line-height: 2.9375rem;
            margin-bottom: 4rem;
        }
        h3{
            color: $marron;
            font-size: 1.8125rem;
            margin-top: 3rem;
            font-family: $Roboto;
        }
        ul{
            padding-left: 0;
            li{
                font-size: 1.25rem;
                @media only screen and (max-width:700px){
                    font-size: 1.7rem;
                }
            }
        }
        h4{
            font-size: 1.25rem;
            font-family: $Roboto;
            font-weight: 300;
            color: $marron;
            margin-top: 4rem;
        }
    }
}


.s_bloques{
    @include flexbox();
    @media only screen and (max-width:1000px){
        @include flex-wrap(wrap);
        div.bloques{
            width: 100%;
        }
    }
}

footer{
    background: $marron;
    padding: 3rem 3rem 1.5rem 3rem;
    text-align: center;
    h2{
        color: #fff;
        font-size: 3.5625rem;
        margin-bottom: 3rem;
    }
    .f1{
        @include dispaly-grid();
        grid-template-columns: repeat(2, 1fr);

        grid-template-areas: 
            "formulario mapa"
            "boton boton";
        .formulario{
            grid-area: formulario;
        }
        .mapa{
            grid-area: mapa;
        }
        .boton{
            grid-area: boton;
            background: #000;
            color: #fff;
            font-size: 1.875rem;
            border: none;
            outline: none;
            width: 100%;
            padding: 5px 0;
            font-weight: 300;
            cursor: pointer;
        }
        input, textarea{
            border: none;
            outline: none;
            background: $crema;
            @extend %box-sizing;
            width: 99%;
            width: calc(100% - 18px);
            font-size: 1.25rem;
            margin-bottom: 12px;
        }
        input{
            height: 47px;
            line-height: 47px;
            padding: 0 10px;
        }
        textarea{
            padding: 10px;
            height: 106px;
        }
        @media only screen and (max-width:800px){
            grid-template-columns: repeat(1, 1fr);
            grid-template-areas: 
                "formulario"
                "boton"
                "mapa";
            input, textarea{
                width: 100%;
            }
            .mapa{
                margin-top: 12px;
            }
        }
    }
    .i_f{
        width: 327px;
        margin: 4rem auto 3rem auto;
    }
    .dir{
        color: #fff;
        font-size: 1.25rem;
    }
}